/*
  阿里矢量图标下载
  @author rollin
  @date 2021-02-08 09:13:21
*/
/* @font-face {
  font-family: 'iconfont';
  src: url('./icon/iconfont.eot');
  src: url('./icon/iconfont.eot?#iefix') format('embedded-opentype'),
    url('./icon/iconfont.woff2') format('woff2'),
    url('./icon/iconfont.woff') format('woff'),
    url('./icon/iconfont.ttf') format('truetype'),
    url('./icon/iconfont.svg#iconfont') format('svg');
} */

@font-face {
  font-family: 'iconfont';
  src: url('./icon/iconfont.woff2?t=1649635547705') format('woff2'),
       url('./icon/iconfont.woff?t=1649635547705') format('woff'),
       url('./icon/iconfont.ttf?t=1649635547705') format('truetype');
}

/* @font-face {
    font-family: 'iconfont';  
    src: url('//at.alicdn.com/t/font_2365037_sl5pfxda6q9.eot');
    src: url('//at.alicdn.com/t/font_2365037_sl5pfxda6q9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2365037_sl5pfxda6q9.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2365037_sl5pfxda6q9.woff') format('woff'),
    url('//at.alicdn.com/t/font_2365037_sl5pfxda6q9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2365037_sl5pfxda6q9.svg#iconfont') format('svg');
  } */

/* .iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* tab 图标 */
.home:before {
  content: "\e67d";
}

.bill:before {
  content: "\e674";
}

.report:before {
  content: "\e695";
}

.user:before {
  content: "\e6a2";
}

/*  其它场景图标 */
.eye-close:before {
  content: "\e680";
}

.eye-open:before {
  content: "\e677";
}

.btn-edit:before {
  content: "\e673";
}

.btn-right:before {
  content: "\e6a6";
}

.btn-close:before {
  content: "\e67b";
}

.btn-calendar:before {
  content: "\e678";
}

.btn-huishan:before {
  content: "\e67c";
}

.btn-renminbi:before {
  content: "\e676";
}

.btn-back:before {
  content: "\e679";
}

.arrows-up:before {
  content: "\e62c";
}

.arrows-down:before {
  content: "\e672";
}

.filter:before {
  content: "\e68e";
}

.icon-selected-radio:before {
  content: "\e68b";
}

.icon-unselected-radio:before {
  content: "\e686";
}

.icon-user:before {
  content: '\e692';
}

.icon-password:before {
  content: '\e69b';
}


/*  分类图标 */
/* 1.支出图标 */
.icon-canyin:before {
  content: "\e689";
}

.icon-yanjiulingshi:before {
  content: "\e694";
}

.icon-gouwu:before {
  content: "\e67f";
}

.icon-zhufang:before {
  content: "\e69e";
}

.icon-jiaotong:before {
  content: "\e690";
}

.icon-yule:before {
  content: "\e693";
}

.icon-wenjiao:before {
  content: "\e69f";
}

.icon-qiche:before {
  content: "\e687";
}

.icon-tongxun:before {
  content: "\e69d";
}

.icon-yuer:before {
  content: "\e6a5";
}

.icon-renqing:before {
  content: "\e685";
}

.icon-yiliao:before {
  content: "\e68a";
}

.icon-lvxing:before {
  content: "\e691";
}

.icon-touzi:before {
  content: "\e681";
}

.icon-touzikuisun:before {
  content: "\e68c";
}

.icon-jiechu:before {
  content: "\e69a";
}

.icon-huanzhai:before {
  content: "\e67a";
}

.icon-lixizhichu:before {
  content: "\e6a1";
}

.icon-qita:before {
  content: "\e697";
}

.icon-shezhi-zhichu:before {
  content: "\e6a3";
}

/* 2.收入图标 */
.icon-xinzi:before {
  content: "\e698";
}

.icon-jiangjin:before {
  content: "\e682";
}

.icon-jieru:before {
  content: "\e688";
}

.icon-shouzhai:before {
  content: "\e699";
}

.icon-lixishouru:before {
  content: "\e68f";
}

.icon-touzihuishou:before {
  content: "\e67e";
}

.icon-touzishouyi:before {
  content: "\e696";
}

.icon-baoxiaoshouru:before {
  content: "\e683";
}

.icon-tuikuan:before {
  content: "\e6a0";
}

.icon-yiwaisuode:before {
  content: "\e68d";
}

.icon-qitashouru:before {
  content: "\e69c";
}

.icon-shezhi-shouru:before {
  content: "\e6a3";
}







.icon-fork:before {
  content: "\e60d";
}

.icon-edit:before {
  content: "\e633";
}

.icon-money:before {
  content: "\e66e";
}

.icon-list:before {
  content: "\e66f";
}

.icon-contract:before {
  content: "\e670";
}

.icon-construction:before {
  content: "\e679";
}

.icon-borrow-expense:before {
  content: "\e67a";
}

.icon-tea:before {
  content: "\e67b";
}

.icon-borrow-expense-repay:before {
  content: "\e67b";
}

.icon-evection:before {
  content: "\e680";
}

.icon-train:before {
  content: "\e682";
}

.icon-earnest-money:before {
  content: "\e684";
}

.icon-submit-an-expense-account:before {
  content: "\e686";
}

.icon-confirm-the-income:before {
  content: "\e688";
}

.icon-budage:before {
  content: "\e68b";
}

.icon-add-asset:before {
  content: "\e68c";
}

.icon-asset-reform:before {
  content: "\e68d";
}

.icon-guide:before {
  content: "\e691";
}

.icon-setting:before {
  content: "\e631";
}






/*  加载图标  */
.icon-load-loading:before {
  content: "\e607";
}